* {
  margin: 0;
  padding: 0;
}
/*header*/

.header-section {
  max-width: 320px;
  max-height: 83px;
  margin: 0px auto;
}

.header__list {
  display: flex;
  margin-right: 20px;
  margin-left: 19px;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.header__listItem {
  list-style-type: none;
}

.btnLogo {
  position: relative;
}

.btnLogo::after {
  content: "";
  background: rgb(234, 234, 234);
  width: 2px;
  height: 32px;
  right: -17px;
  top: -30px;
  position: absolute;
}

.img {
  width: 40px;
  height: 40px;
}

.logo {
  width: 96.55px;
  height: 50.81px;
}

img[hidden] {
  display: none;
  @media (min-width: 321px) {
    display: flex;
  }
  @media (min-width: 769px) {
    display: none;
  }
}

h1[hidden],
div[hidden],
ul[hidden] {
  display: none;
  @media (min-width: 769px) {
    display: flex;
  }
}

@media (min-width: 321px) {
  .header-section {
    max-width: 720px;
    max-height: 88px;
    margin: 0px auto;
  }

  .log {
    margin-right: 248px;
  }
  .btnLogo::after {
    display: none;
  }

  .btnBurger {
    position: relative;
  }

  .btnBurger::after {
    content: "";
    background: rgb(234, 234, 234);
    width: 2px;
    height: 32px;
    right: -14px;

    top: -20px;
    position: absolute;
  }

  .btnTools {
    position: relative;
  }

  .btnTools::after {
    content: "";
    background: rgb(234, 234, 234);
    width: 2px;
    height: 32px;
    right: -14px;
    top: -20px;
    position: absolute;
  }
}

@media (min-width: 769px) {
  .header-section {
    max-width: 1120px;
    max-height: 130px;
    margin: 0px auto;
  }

  .header__navigation {
    margin-right: 30px;
    margin-left: 33px;
  }

  .btnBurger::after {
    display: none;
  }

  .btnTools::after {
    display: none;
  }

  .header__list {
    display: none;
  }

  .header__list--hidden {
    margin-top: 20px;
    margin-left: 54px;
    margin-right: 54px;
    justify-content: space-between;
  }
  .header__list2--hidden {
    margin-left: 54px;
    font-size: 16px;
  }

  .header__listItem--hidden,
  .header__listItem2--hidden {
    list-style-type: none;
  }

  .header__listItem2--hidden {
    margin-top: 34px;
  }

  .btnHidden {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }

  .ServicesHidden {
    font-size: 28px;
    color: black;
    margin-top: 52px;
  }

  .hiddenLink {
    text-decoration: none;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
  }

  .hiddenLink:hover {
    border: solid;
    border-color: rgb(184, 255, 236);
    border-radius: 2px;
    border-width: 2px;
  }

  .hiddenMainDiv {
    justify-content: flex-end;
    margin-top: -35px;
    gap: 30px;
  }

  .div1,
  .div2 {
    align-self: center;
    margin-right: 10px;
  }

  button {
    display: block;
    width: 233px;
    height: 40px;
    background-color: none;
    transition: 1s;
    cursor: pointer;
  }
}

/*main*/

.main {
  max-width: 320px;
  max-height: 509px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.main__divName {
  margin-right: 74px;
  margin-left: 19px;
}

.Services {
  font-size: 28px;
}

.main__divParagraf {
  margin-top: 64px;
  margin-left: 19px;
}

.main__paragraf {
  font-size: 14px;
}

.main__FlipText {
  display: flex;
  margin-left: 19px;
  margin-top: 25px;
}

.main__divCommRead {
  margin-left: 14px;
}

.main__navigation {
  width: 504px;
  height: 40px;
}

.main__list--visible {
  display: flex;
}

.main__listItem--visible {
  margin-top: 34px;
  margin-left: 16px;

  justify-content: space-between;
  list-style-type: none;
}

button {
  display: block;
  width: 233px;
  height: 40px;
  background-color: none;
  transition: 1s;
  cursor: pointer;
}

.visibleLink:hover {
  border: solid;
  border-color: rgb(184, 255, 236);
  border-radius: 2px;
  border-width: 2px;
}

.main__divPic {
  background-image: url("/imgMobile/PictureCPS.jpg");
  height: 176px;
  max-width: 320px;
  margin-top: 22px;
}
